*{
    margin: auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* header section */

.background{
    height: 60vh;
    background-color: rgb(252, 217, 224);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-text-h{
    padding-bottom: 20px;
    font-size: 35px;
}

.first-text-p{
    padding-bottom: 20px;
}

.but-first{
    color: white;
    background-color: palevioletred;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

.img-first img{
    height: 350px;
    width: 300px;
    padding-top: 25px;
    
}


/*   Our Featured Flowers section   */


.featured-flowers{
    padding-top: 60px;
    text-align: center;
}

.featured-flowers-p{
    padding-top: 20px;
}

.featured-flowers-img{
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 30px;
    
}

.featured-flowers-text{
    display: flex;
    align-items: center;
    padding: 50px;
}

.featured-flowers-img-1{
    background-color: rgb(240, 199, 206);
    height:350px;
    width: 250px;
    border-radius: 150px 150px 0px 0px;
    text-align: center;
}

.featured-flowers-img-2{
    background-color: rgb(200, 237, 248);
    height:350px;
    width: 250px;
    border-radius: 150px 150px 0px 0px;
    text-align: center;
}
.featured-flowers-img-3{
    background-color: rgb(203, 213, 214);
    height:350px;
    width: 250px;
    border-radius: 150px 150px 0px 0px;
    text-align: center;
}

.featured-flowers-img-1 img{
   
    height:250px;
    width: 150px;
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.featured-flowers-img-2 img{
   
    height:250px;
    width: 150px;
    padding-top: 100px;
    display: flex;
    align-items: center;
}
.featured-flowers-img-3 img{
   
    height:250px;
    width: 150px;
    padding-top: 100px;
    display: flex;
    align-items: center;
}


/*  Hot Deal ! Sale Up To 25% Off section  */


.hot-deal-background{
    height: 60vh;
    background-color: rgb(255, 241, 244);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.hot-deal-text{
    color: red;
}
.hot-deal-h{
    padding-bottom: 20px;
    
}
.hot-deal-p{
    padding-bottom: 20px;
}


.hot-deal-img{
    height: 300px;
    width: 250px;
    padding-top: 25px;
}


/*  Instagram section  */

.instagram{
    padding-top: 60px;
    text-align: center;
}
.instagram-p{
    padding-top: 20px;
}

.instagram-img{
    padding-top:30px;
    text-align: center;

}

.instagram-img-1{
    height:300px;
    width: 250px;
}



/*  Get The Latest Deals section */
.latest-deals-section{
    padding-top: 60px;
    
}
.latest-deals-background{
    height: 45vh;
    background-image: url("../images/Flower-Asset/Rectangle9.png");
    width: 1010px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    
}

.latest-deals-h{
    padding-bottom: 10px;
}

.latest-deals-p{
    padding-bottom: 20px;
}

.latest-deals-input-email{
    width: 400px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;



}

.latest-deals-input-subscribe{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: palevioletred;
    color: white;
}


/*  FlowerShop section  */

.flower-shop-footer{
    padding-top: 50px;
}

.flower-shop-background{
    height: 40vh;
    background-color: black;
    text-align: center;
    padding-top: 30px;
}

.flower-style{
    color: palevioletred;
    
}

.shop-style{
    color: white;
    
}

.flower-shop-p{
    color: white;
    padding-top: 20px;
}

.flower-shop-small-p{
    color: rgb(163, 146, 146);
    padding-top: 20px;
}